<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">History</h3>
        <div class="ui styled fluid accordion">
          <div class="active title">
            <i class="dropdown icon"></i>
            Scott Traver
          </div>
          <div class="active content" id="scott-traver">
            <p>Originally from Anchorage Alaska, I attended school at Eastern Washington University and graduated
              in 2012 with a BS in Computer Science. Alongside school I enjoyed running, rock climbing and studying foreign languages.
              My passion for the outdoors and mountains led me to move to Salt Lake City UT in 2014.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Eastern Washington University
          </div>
          <div class="content" id="ewu">
            <p>During my studies at EWU my advanced coursework was in graphical interfaces and network security.
              I interned at the <a target="_blank" href="http://www.digitalarchives.wa.gov/">Washington State Digital Archives</a> as well as led a school project to upgrade the gym
              class management and grading system (where I also worked on campus).</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Glacier Services Automation
          </div>
          <div class="content" id="gsi">
            <p>
              After graduation I returned to Alaska to work for Glacier Services Inc, the largest Alaskan-owned oil field automation 
services firm. I developed high-speed graphic displays that are used by plant operators and production optimization engineers on the 
real-time supervisory control and data acquisition systems that Conono Phillips Alaska uses to control and meter oil and gas fields.
            </p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            RiskLens
          </div>
          <div class="content" id="risklens">
            <p>In 2012 I joined RiskLens, a startup focused on building and providing tools and training for quantification of
              information security risk analyses.</p>
            <p>Here I was involved in every aspect of the software development process including design, architecture,
              coding, bugfixes and maintenance. My primary area of ownership was the reporting suite which gave me the 
              opportunity to grow my skills as a front end developer.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Backcountry
          </div>
          <div class="content" id="backcountry">
            <p>Mid - 2015 I joined Backcountry.com as a software engineer on a team focused on replacing an aging mobile app.</p>
            <p>In addition to providing maintenance debugging support for legacy systems, my role was primarly building
              the codebase and infrastrucutre for an ionicframework mobile app.</p>
            <p>It was my experience here working alongside developers on a site
              with millions of pageviews which led to a passion for performance engineering.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            InsideSales.com
          </div>
          <div class="content" id="insidesales">
            <p>In Summer 2016 I joined InsideSales.com to help them innovate the next generation of sales acceleration technology.</p>
            <p>This included systems and client side programming for enterprise customers and preparing for growth into local and international markets.</p>
            <p>On this team I got to experience enterprise DevOps, management, deployment and the entire product lifecycle at scale firsthand.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Artemis Health
          </div>
          <div class="content" id="artemis">
            <p>At the start of 2017 I started at Artemis Health as a Sr. Software Engineer, helping the small team develop a healthcare data platform.</p>
            <p>This platform consists of several applications that allow a view into healthcare benefits provider and member data, easily visualize trends, cost saving measures and facilitates decision making and reporting.</p>
            <p>Here I get to experiment with front-end technologies and grow and apply my skills specifically in developing high performance webapps and data visualizations.</p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i>
            High Peak Solutions
          </div>
          <div class="content" id="highpeak">
            <p>2016 and Beyond! - I founded High Peak Solutions to refocus my work on front end performance.</p>
            <p>As I have grown during my career, I have come to understand the importance of accessability and mobile programming
              and have seen firsthand the shift in the way web media is consumed.</p>
            <p>My goal is to create software that focuses on front end performance to deliver powerful, far reaching
              software that has the ability to both be useful but more importantly engage users in modern ways.</p>
          </div>

        </div>
      </div>
      <div class="six wide right floated column">
        <div class="row">
          <div class="ten wide center aligned column">
            <div class="ui people shape">
              <div class="sides">

                <div class="side active" id="scott-traver-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/profile.jpg" title="Profile Picture" alt="Profile Picture">
                    </div>
                    <div class="content">
                      <div class="header">Scott Traver</div>
                      <div class="meta">
                        <a>Software Consultant</a>
                      </div>
                      <div class="description">
                        Born and Raised in Alaska, my hobbies include travelling, marathons, and studying foreign languages.&nbsp;&nbsp;<a href="https://www.linkedin.com/in/scott-traver-18a65850" target="_blank">Connect!</a>
                      </div>
                    </div>
                    <div class="extra content">
                      <span class="right floated">
                        Left Alaska 2008
                      </span>
                      <span>
                        <i class="mail outline icon"></i>
                        <a class="js-email-event" href="mailto:scott@highpeakcolutions.com?Subject=Hello">Contact Me</a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="side" id="ewu-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/ewu-logo.jpg" alt="Eastern Washington University Logo" title="Eastern Washington University Logo">
                    </div>
                    <div class="content">
                      <a class="header">Eastern Washington University</a>
                      <div class="meta">
                        <span class="date">2012 - 2015</span>
                      </div>
                      <div class="description">
                        BS Computer Science Information Systems.
                        <br/><br/>Graduated with Honors&nbsp;&nbsp;<a href="https://www.ewu.edu/" target="_blank">Go Eags!</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="gsi-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/gsi-logo.jpg" alt="Glacier Services Inc Logo" title="Glacier Services Inc Logo">
                    </div>
                    <div class="content">
                      <a class="header">Glacier Services Inc</a>
                      <div class="meta">
                        <span class="date">2012</span>
                      </div>
                      <div class="description">
                        Glacier Services, Inc. is an Alaskan owned and operated automation and engineering services company, specializing in providing effective automation solutions and services to Alaska's oil and gas industry.  As the largest Alaskan owned oil field automation services firm located in the state, our footprint reaches from the Kenai Peninsula to the North Slope.&nbsp;&nbsp;<a href="http://www.glcr.com/" target="_blank">GSI Alaska</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="risklens-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/risklens-logo.jpg" title="RiskLens Logo" alt="RiskLens Logo">
                    </div>
                    <div class="content">
                      <a class="header">RiskLens</a>
                      <div class="meta">
                        <span class="date">2012 - 2015</span>
                      </div>
                      <div class="description">
                        RiskLens is a cyber risk management software company that specializes in the quantification of cybersecurity risk. 

                        RiskLens is the only cyber risk management software purpose-built on FAIR, the only international standard Value at Risk (VaR) model for cybersecurity and operational risk.&nbsp;&nbsp;<a href="http://www.risklens.com/" target="_blank">Risklens</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="backcountry-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/backcountry-logo.png" alt="Backcountry Logo" title="Backcountry Logo">
                    </div>
                    <div class="content">
                      <a class="header">Backcountry</a>
                      <div class="meta">
                        <span class="date">2015 - 2016</span>
                      </div>
                      <div class="description">
                        Backcountry is one of the largest online retailers of premium and exclusive outdoor gear.
                        &nbsp;&nbsp;<a href="http://www.backcountry.com/" target="_blank">Backcountry</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side" id="insidesales-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/islogo.png" alt="Inside Sales Dot Com" title="Inside Sales Dot Com">
                    </div>
                    <div class="content">
                      <a class="header">InsideSales.com</a>
                      <div class="meta">
                        <span class="date">2016</span>
                      </div>
                      <div class="description">
                        InsideSales.com is innovating sales acceleration with machine learning and predictive analytics.
                        &nbsp;&nbsp;<a href="https://www.insidesales.com/" target="_blank">InsideSales.Com</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side" id="artemis-shape">
                  <div class="ui card">
                    <div class="image" style="background-color:white;padding: 15px;">
                      <img src="/img/artemis-logo.png" alt="Artemis Health" title="Artemis Health">
                    </div>
                    <div class="content">
                      <a class="header">Artemis Health</a>
                      <div class="meta">
                        <span class="date">2017 - Present</span>
                      </div>
                      <div class="description">
                        Artemis Health is creating the leading benefits data analytics platform.
                        From a technology perspective, healthcare is an underserved space with lots of opportunity for disruptive tools in areas such as actionable data analysis.
                        &nbsp;&nbsp;<a href="http://www.artemishealth.com/" target="_blank">Artemis Health</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="highpeak-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/logo.png" alt="High Peak Solutions Logo" title="High Peak Solutions Logo">
                    </div>
                    <div class="content">
                      <a class="header">High Peak Solutions</a>
                      <div class="meta">
                        <span class="date">2016 - Present</span>
                      </div>
                      <div class="description">
                        Software consultant focused on software solutions and providing blazing fast and rich experiences.
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
