<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">History</h3>
        <div class="ui styled fluid accordion">
          <div class="active title">
            <i class="dropdown icon"></i>
            Scott Traver
          </div>
          <div class="active content" id="scott-traver">
            <p>Originally from Anchorage Alaska, I attended school at Eastern Washington University and graduated
              in 2012 with a BS in Computer Science. Alongside school I enjoyed running, rock climbing and studying foreign languages.
              My passion for the outdoors and mountains led me to move to Salt Lake City UT in 2014.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Eastern Washington University
          </div>
          <div class="content" id="ewu">
            <p>During my studies at EWU my advanced coursework was in graphical interfaces and network security.
              I interned at the Washington State Digital Archives as well as led a school project to upgrade the gym
              class management and grading system (where I also worked on campus).</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            RiskLens
          </div>
          <div class="content" id="risklens">
            <p>In 2014 I joined RiskLens, a startup focused on building and providing tools and training for quantification of
              information security risk analyses.</p>
            <p>Here I was involved in every aspect of the software development process including design, architecture,
              coding, bugfixes and maitenance. My primary area of ownership was the reporting suite which gave me the 
              opportunity to grow my skills as a front end developer.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Backcountry
          </div>
          <div class="content" id="backcountry">
            <p>Mid - 2015 I joined Backcountry.com as a software engineer on a team focused on replacing an aging mobile app.</p>
            <p>In addition to providing maitanance debugging support where I could for legacy systems, my role was primarly building
              the codebase and infrastrucutre for an ionicframework mobile app.</p>
            <p>It was my experience here working alongside developers on a site
              with millions of pageviews which led to a passion for performance engineering.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            High Peak Solutions
          </div>
          <div class="content" id="highpeak">
            <p>2016 and Beyond! - I began High Peak Solutions software consultancy to refocus my work on front end performance.</p>
            <p>As I have grown throughout my career I understand the importance of accessability and mobile programming
              and have seen firsthand the shift in the way web media is consumed.</p>
            <p>My goal is to create software that focuses on front end performance to deliver powerful, far reaching
              software that has the ability to both be useful but more importantly engage users in modern ways.</p>
          </div>

        </div>
      </div>
      <div class="six wide right floated column">
        <div class="row">
          <div class="ten wide center aligned column">
            <div class="ui people shape">
              <div class="sides">

                <div class="side active" id="scott-traver-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/profile.jpg">
                    </div>
                    <div class="content">
                      <div class="header">Scott Traver</div>
                      <div class="meta">
                        <a>Software Consultant</a>
                      </div>
                      <div class="description">
                        Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                      </div>
                    </div>
                    <div class="extra content">
                      <span class="right floated">
                        Left Alaska 2008
                      </span>
                      <span>
                        <i class="mail outline icon"></i>
                        Contact Me
                      </span>
                    </div>
                  </div>
                </div>


                <div class="side" id="ewu-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/ewu-logo.jpg">
                    </div>
                    <div class="content">
                      <a class="header">Eastern Washington University</a>
                      <div class="meta">
                        <span class="date">2012 - 2014</span>
                      </div>
                      <div class="description">
                        BS Computer Science Information Systems.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="risklens-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/risklens-logo.jpg">
                    </div>
                    <div class="content">
                      <a class="header">RiskLens</a>
                      <div class="meta">
                        <span class="date">2012 - 2014</span>
                      </div>
                      <div class="description">
                        RiskLens is a cyber risk management software company that specializes in the quantification of cybersecurity risk. 

                        RiskLens is the only cyber risk management software purpose-built on FAIR, the only international standard Value at Risk (VaR) model for cybersecurity and operational risk.&nbsp;&nbsp;<a href="http://www.risklens.com/">Risklens</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="backcountry-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/backcountry-logo.png">
                    </div>
                    <div class="content">
                      <a class="header">Backcountry</a>
                      <div class="meta">
                        <span class="date">2015 - 2016</span>
                      </div>
                      <div class="description">
                        Backcountry is one of the largest online retailers of premium and exclusive outdoor gear.
                        &nbsp;&nbsp;<a href="http://www.backcountry.com/">Backcountry</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="side" id="highpeak-shape">
                  <div class="ui card">
                    <div class="image">
                      <img src="/img/logo.png">
                    </div>
                    <div class="content">
                      <a class="header">High Peak Solutions</a>
                      <div class="meta">
                        <span class="date">2016 -</span>
                      </div>
                      <div class="description">
                        Software consultancy founded to focus on software solutions providing blazing fast and rich experiences.
                      </div>
                    </div>
                  </div>
                </div>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button green">Got a Project?</a>
      </div>
    </div>

  </div>
</div>
