<h3 class="ui center aligned header">High Peak Solutions - Blog</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/multi-part-sync">Multi Part Data Synchronization</a>
        <div class="meta">
          <a>Dec 6, 2016</a>
          <a>Programming, Systems</a>
        </div>
        <div class="description">
          Deep in the programming discipline, data integrity is often a hot topic of cluster database management system design; but it should often be thought of at a systems level.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/multi-part-sync">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <a class="header" href="/blog/living-data">Living Data</a>
        <div class="meta">
          <a>Nov 12, 2016</a>
          <a>Programming, DevOps</a>
        </div>
        <div class="description">
          Even in a microservice architecture sometimes keeping data alive and current is critical. Here is a strategy I use to balance unexpected failures with maintaining data integrity.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/living-data">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/firefighting">Firefighting vs Construction</a>
        <div class="meta">
          <a>Oct 24, 2016</a>
          <a>Business, Management, DevOps</a>
        </div>
        <div class="description">
          Every new project has an amazing opportunity. Like a baby it is blameless and pure ... for at least 10 seconds ...
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/firefighting">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/now-vs-right">Now vs Right</a>
        <div class="meta">
          <a>Sep 12, 2016</a>
          <a>Business, Web development, DevOps</a>
        </div>
        <div class="description">
          Proper project management can make or break a project.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/now-vs-right">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/you-are-what-you-use">You are what you use</a>
        <div class="meta">
          <a>August 19, 2016</a>
          <a>Web development, DevOps</a>
        </div>
        <div class="description">
          Our productivity is only equal to our best use of the tools.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/you-are-what-you-use">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/making-tools">Making Tools</a>
        <div class="meta">
          <a>July 12, 2016</a>
          <a>Web development, DevOps</a>
        </div>
        <div class="description">
          Making tools often means striking a balance between the components that best fit the users and problems.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/making-tools">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/three-legged-stool">Three Legged Stool</a>
        <div class="meta">
          <a>June 20, 2016</a>
          <a>Business, Web development, DevOps</a>
        </div>
        <div class="description">
          One of my computer science professors from several years ago reminds me of some fundamentals I recently encountered developing software for the real world.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/three-legged-stool">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/code-checklist">Line by Line</a>
        <div class="meta">
          <a>June 2, 2016</a>
          <a>Philosophy, Dev Ops, Best Practices</a>
        </div>
        <div class="description">
          My years of experience have led me to create my ultimate code review checklist. Taking the time to review my code line by line has made me the best developer possible. I created this interactive checklist and in depth explination to share.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/code-checklist">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/what-is-performance">What is Performance?</a>
        <div class="meta">
          <a>May 23, 2016</a>
          <a>Performance, Philosophy</a>
        </div>
        <div class="description">
          Some thoughts on what web performance really means from a systems perspective.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/what-is-performance">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/waiting-time">Time to Wait</a>
        <div class="meta">
          <a>May 8, 2016</a>
          <a>Mobile Development, Business, WebPerformance</a>
        </div>
        <div class="description">
          A thought exercise and perspective on web performance by bringing load times into real world examples you can understand and explain.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/waiting-time">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/http2-business-impact">HTTP2 - No Excuses</a>
        <div class="meta">
          <a>May 2, 2016</a>
          <a>Mobile Development, Business, WebPerformance</a>
        </div>
        <div class="description">
          Notes and comments on HTTP2 Ask Me Anything seminar with leading web performance experts, and how this relates to site design practices.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/http2-business-impact">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/rise-inapp-browsers">Beyond IE - The rise of inApp browsers</a>
        <div class="meta">
          <a>April 25, 2016</a>
          <a>Mobile Development, Business</a>
        </div>
        <div class="description">
          The rise of inApp browsers' usage is highlighting a shift in the techniques businesses should consider for designing the content and look and feel of their mobile experiences.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/rise-inapp-browsers">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/app-vs-site">Your Business Won't Benifit from an App</a>
        <div class="meta">
          <a>April 17, 2016</a>
          <a>Mobile Development, Business, Tools</a>
        </div>
        <div class="description">
          Personal experience working with IonicFramework and the complications moving from website development to app development.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/app-vs-site">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/how-to-scale-charts">4 Ways to Make Effective Charts - The Importance of Scale</a>
        <div class="meta">
          <a>April 11, 2016</a>
          <a>Charts, Data Visualization, Tools, How To</a>
        </div>
        <div class="description">
          A case study from my personal life of tools reveals four ways to make more effective charts so they don't mislead, misinform and will not be miss-interperted.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/how-to-scale-charts">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/high-perf-cms">“Almost Free” High Performance Stack - One Way Flow</a>
        <div class="meta">
          <a>April 3, 2016</a>
          <a>Performance, Architecture, Tools</a>
        </div>
        <div class="description">
          An extremly low cost architecture for a high performance CMS stack.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/high-perf-cms">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header" href="/blog/website-vs-webapp">Website vs Webapp - A Performance Perspective</a>
        <div class="meta">
          <a>March 25, 2016</a>
          <a>Performance, Architecture</a>
        </div>
        <div class="description">
          Some thoughts about the differences between a website and a webapp through the lens of use and performance.
        </div>
        <div class="extra">
          <a class="ui right floated primary button" href="/blog/website-vs-webapp">
            Read
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Permenant Signup -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Want More?</h3>

    <div class="ui center aligned basic segment">
      <p>Subscribe to the weekly posts.</p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//highpeaksolutions.us13.list-manage.com/subscribe/post?u=106bc0fc91637156409328193&amp;id=0750f0a01c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="ui left icon action input">

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <i class="add user icon"></i>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_106bc0fc91637156409328193_0750f0a01c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui blue submit button"></div>
            </div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
      <div class="ui horizontal divider">
        Or
      </div>
      <p>Get In Touch</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Hello" style="color:white;">Contact</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>
