<h3 class="ui center aligned header">High Peak Solutions - Blog</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Website vs Webapp - A Performance Perspective</a>
        <div class="meta">
          <a>March 25, 2016</a>
          <a>Performance, Architecture</a>
        </div>
        <div class="description">
          Some thoughts about the differences between a website and a webapp through the lens of use and performance.
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            Read
            <i class="right chevron icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Permenant Signup -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Want More?</h3>

    <div class="ui center aligned basic segment">
      <p>Subscribe to the weekly posts.</p>
      <div class="ui left icon action input">
        <i class="add user icon"></i>
        <input type="text" placeholder="Email">
        <div class="ui blue submit button">Subscribe</div>
      </div>
      <div class="ui horizontal divider">
        Or
      </div>
      <p>Contact Us Directly</p>
      <div class="ui green labeled icon button">
        Contact Us
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>
