<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Software Consultancy</h3>
        <p>Creating modern web solutions for small business needs.</p>
        <ul class="ui list">
          <li>Project Roadmapping to ensure work effectiveness and expidite development</li>
          <li>Public facing company websites and CMS solutions</li>
          <li>Internal management or reporting tools</li>
          <li>Custom software solutions for specific business needs</li>
        </ul>
        <h3 class="ui header">Performance Oriented</h3>
        <p>Using modern technologies we are constantly striving to improve the accessibility of online solutions through
          a focus on performance and mobility. We give special attention to optimizations and designs that
          can be used on any device or network connection.</p>
      </div>
      <div class="six wide right floated column">
        <div class="row">
          <div class="ten wide center aligned column">
            <img src="/img/SDLC.jpg" alt="Image" class="ui segment" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button green">Got a Project?</a>
      </div>
    </div>
    <div class="row no-mobile">
      <div class="four wide column">
        <img src="/img/vuejs.png" alt="Image" class="ui homepage-tech" />
      </div>
      <div class="four wide column">
        <img src="/img/mongodb.png" alt="Image" class="ui homepage-tech" />
      </div>
      <div class="four wide column">
        <img src="/img/nodejs.png" alt="Image" class="ui homepage-tech" />
      </div>
      <div class="four wide column">
        <img src="/img/emberjs.png" alt="Image" class="ui homepage-tech" />
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>High Peak Solutions</h3>
        <p>Based in the mountians of Salt Lake City, Utah.</p>
        <div class="ui list">
  <div class="item">Development experience from startup to enterprise.</div>
  <div class="item">Up to date technologies deployment and integration systems.</div>
  <div class="item">Remote hours and flexible schedule.</div>
  <div class="item">Focus on robust portable performant solutions.</div>
</div>
      </div>
      <div class="column">

        <h3>Scott Traver</h3>
        <div class="ui items">
          <div class="item">
            <div class="image">
              <img src="/img/profile.jpg" class="ui avatar image right"> 
            </div>
            <div class="content">
              <div class="description">
                <p>I started High Peak Solutions to 
                  focus on creating high performance software solutions.&nbsp;&nbsp;
                </p><a class="ui button tiny" href="/about">More About Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Got a Project In Mind?</h3>

    <div class="ui center aligned basic segment">
      <p>We are currently taking work for Summer 2016. If you have project in mind we would love to hear from you!</p>
      <div class="ui green labeled icon button">
        Contact Us
        <i class="mail outline icon"></i>
      </div>
      <div class="ui horizontal divider">
        Or
      </div>
      <p>Subscribe to the weekly blog for articles about web development.</p>
      <div class="ui left icon action input">
        <i class="add user icon"></i>
        <input type="text" placeholder="Email">
        <div class="ui blue submit button">Subscribe</div>
      </div>
    </div>
  </div>
</div>

