.hidden.menu {
  display: none;
}
.masthead.segment {
  min-height: 300px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: .8em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer.segment {
  padding: 5em 0em;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
.home-list li {
  font-size: 1.25em;
}
.ui .homepage-tech {
  max-width: 150px !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.ui .homepage-tech:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
a.ui.segment.large.image.blog-image {
  width: auto;
}
@media (max-width: 736px) {
  .no-mobile {
    display: none !important;
  }
}
.blog-emphasis {
  font-size: 1.25em;
}
.contact-list a,
.contact-list div {
  margin-top: 5px !important;
}
.callout {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  margin-top: 10px;
  font-family: serif;
}
/* Pie chart on homepage */
.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
}
.chart-skills::before,
.chart-skills::after {
  position: absolute;
}
.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}
.chart-skills::after {
  content: 'Lifecycle';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}
.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: linear;
}
.chart-skills li:nth-child(1) {
  z-index: 5;
  border-color: green;
  animation-name: rotate-one;
}
.chart-skills li:nth-child(2) {
  z-index: 4;
  border-color: firebrick;
  animation-name: rotate-two;
}
.chart-skills li:nth-child(3) {
  z-index: 3;
  border-color: steelblue;
  animation-name: rotate-three;
}
.chart-skills li:nth-child(4) {
  z-index: 2;
  border-color: orange;
  animation-name: rotate-four;
}
.chart-skills li:nth-child(5) {
  z-index: 1;
  border-color: salmon;
  animation-name: rotate-five;
}
@keyframes rotate-one {
  100% {
    transform: rotate(60deg);
    /**
     * 12% => 21.6deg
     */
  }
}
@keyframes rotate-two {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(120deg);
    /**
     * 32% => 57.6deg 
     * 57.6 + 21.6 => 79.2deg
     */
  }
}
@keyframes rotate-three {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(180deg);
    /**
     * 34% => 61.2deg 
     * 61.2 + 79.2 => 140.4deg
     */
  }
}
@keyframes rotate-four {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(240deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}
@keyframes rotate-five {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(300deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}
