<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">4 Ways to Make Effective Charts - The Importance of Scale</a>
        <div class="meta">
          <a>April 11, 2016</a>
          <a>Charts, Data Visualization, Tools, How To</a>
        </div>
        <div class="description">
As a competitive runner, often training at a high level, I record everything. I do this so that I can be scientific about using past learnings to make my training more effective. One thing I track is the duration, pace and elevation profile of my runs, but I noticed that the technology I was using didn’t feel like it was properly representing my workouts. My friends and I collected the charts below:
        </div>
        <a href="/img/posts/graph-movescount.png" target="_blank" class="ui segment large image blog-image">
          <img src="/img/posts/graph-movescount.png" title="Movescount Sample Graph" alt="Movescount Sample Graph">
        </a>
        <a href="/img/posts/graph-connect.png" target="_blank" class="ui segment large image blog-image">
          <img src="/img/posts/graph-connect.png" title="Garmin Connect Sample Graph" alt="Garmin Connect Sample Graph">
        </a>
        <a href="/img/posts/graph-strava.png" target="_blank" class="ui segment large image blog-image">
          <img src="/img/posts/graph-strava.png" title="Strava Sample Graph" alt="Strava Sample Graph">
        </a>
        <div class="description">
          The above charts and graphs are all of the <strong>exact same</strong> mountainous run with 4000 feet of elevation gain and over 4 miles of 20% grade. I was surprised at how the same information (data from my gps watch) could be displayed so differently.
        </div>

        <div class="description">
          <span class="blog-emphasis">Axis And Units</span> - Notice at first that both MovesCount and Garmin connect default their
elevation profiles to use elevation on the y axis and time on the x axis. This skews the elevation profile unrealistically and does not show the true grade of the run; because you go more slowly uphill, this leads to a rounded uphill (left) side and a sharper over exaggerated downhill (right) side of the profile. Also this means that if you run the same run twice but at a different pace you will get a different elevation profile displayed by default! Charts and graphs are often only useful when they can be easily compared and this difference makes run to run elevation profiles difficult to visually compare.
        </div>
        <div class="description">
          <span class="blog-emphasis">Height</span> - The charts of MovesCount and Garmin connect are stretched horizontally
making it difficult to assess the angle or steepness of the run. This is because the vertical space isn’t proportional to the scale of the width. When this ratio isn’t 1 to 1 (which is impossible when you have differing measurements eg distance - time) a proper representation of the run cannot be achieved. Admittedly, there must be some sacrifice here because a 1:1 scale of the chart would be square and probably take up the whole page height. Some compromise is be acceptable with the same measurement (distance against distance) as long as it is <strong>consistent</strong> for all elevation profiles. Auto scaling the height or width of a chart often leads to these inconsistencies which makes interpretation (and comparison between similar chart types) much more difficult.
        </div>
        <div class="description">
          <span class="blog-emphasis">Shading</span> - Finally, the top two charts are drawn with a single thin line and lots of negative space (white and black background). When looking at two runs on MovesCount or Garmin Connect, it is hard to judge the amount of elevation gain and ground covered because the lack of <strong>visual weight</strong> (large shapes which are contrasted from the background). The Strava chart instead, shades below the elevation line giving us a quick judgement and memorable impression of the profile that we can easily make comparisons against.
        </div>
        <br/>
        <h2>The Importance Of Scale</h2>
        <div class="description">
When making a chart, keep these four things in mind to make them more meaningful and ultimately more useful.
        </div>
        <div class="description">
          <strong>• Compare relevant attributes</strong> - Make sure you are comparing relevant attributes - distance to distance, events over time... Doing this will not skew the data in unintended way and allow for the best and most consistent interpretation of your data.
        </div>
        <div class="description">
          <strong>• Make your drawing space adequate</strong> - Appropriately sizing your charts and graphs will help them emphasize the main point you wish to make. Charts that are thrown into extra space on a page often have the side effect of being unnaturally skewed or stretched leading to false interpretations. Make the space around the chart, not the opposite.
        </div>
        <div class="description">
          <strong>• Choose proper colors and weights</strong> - Shading, colors, gridlines, labels and legends can all be tools to help readers better interpret your diagram. By choosing the proper drawing techniques you can again emphasize or deemphasize the meaning you want your chart to have. Visual weight is extremely useful when comparing charts of the same type.
        </div>
        <div class="description">
          <strong>• Be consistent</strong> - If you will have many charts of a similar type, make sure the scaling, space and drawing techniques are consistent. Many charts are only useful in comparison to charts of the same type and by being consistent you will allow for easy visual comparisons giving your charts usefulness outside themselves.
        </div>
        <hr/>
        <div class="extra">
          <span>Written By Scott Traver</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call To Action -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui center aligned basic segment">
      <p>Are your companies charts and graphs clear and relevant?</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Hello" style="color:white;">Contact Me</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>
