<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Why you should read print books (Opinion)</a>
        <div class="meta">
          <a>Feb 13, 2017</a>
          <a>Business, Tools, Learning</a>
        </div>
        <h2>
          Why you should read books:
        </h2>
        <div class="description">
          We live in an era where information is constantly around us. From advertisements on billboards, bumper stickers on cars, labels on the grocery store shelves; we are surrounded by businesses trying to get our attention. And that is only some of the external not self imposed and non technical techniques! For many, from the minute you wake up the first thing you do is look at your phone and many look at it at least every hour until checking it as the last thing before going to bed. This provides an extremely high touch outlet (inlet?) into our lives where attention is being mined, profited from, data gathered, patterns made and choices altered both with and without our knowledge.
        </div>
        <div class="description">
Over the last few months I have started a public transit commute giving me a clear barrier between home and work but more importantly a chance to read books. I think everyone should read books and here are just a few reasons why (speaking specifically of non-fiction as an alternative to only online sources):         
        </div>
        <br/>
        <div class="description">
          <ul>
            <li>
Their high barrier to entry (which is changing with e-books) means that usually they are thorough, easy to follow, proofread, can be highly information (for the time they were written). Unlike a tweet, blog (even this one) or website, books carry a weight of the publishing process which filters out individual 'in the moment' thoughts and/or rants.
            </li>
            <li>
              Books are often a collaboration, which can give them an authority on topics that a single write often lacks.
            </li>
            <li>
              Books are more or less distraction free. This means that as a reader you are in control of the reading, reading habit, duration, location, mindset, and mood to best consume, or process anything that might come from the book. In an age where the battle between ad blockers and content producers rages, this is a peaceful place where the barrier to entry calms the waves leaving the message more clear and the input more seamless.
            </li>
            <li>
              A singular book won’t change on you. Unlike an online source, books are meant to start conversations with and among the readers not on or against the content. This does not mean books are correct or even truthful but it does mean that a quote or text needs to be moved to an appropriate negotiation channel - this simple act gives the space for consideration which can lead to realizations or various ways to interpret the books text or meaning, exactly the point.
            </li>
            <li>
              Books are locked in time. As a result of the above point (the unchanging nature of books) they can often give us a glimpse through the author of the time of writing. This is invaluable for discovering the lessons of pre-technology days so that history may not repeat itself and we may learn from all our (humanity) mistakes, not just the internet archived ones.
            </li>
          </ul>
        </div>
        <div class="description">
          I am beginning to regard reading as a sacred right and honor - and reading books even moreso. Many are informative, challenging, or provocative. Others are simple, straightforward and forgetful. The best part of reading them is the space provided for the reader to make their own distraction technology free.
        </div>
        <hr/>
        <div class="extra">
          <span>Written By Scott Traver</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call To Action -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui center aligned basic segment">
      <p>Have a book recommendation?</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Hello" style="color:white;">Contact Me</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>



