<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Beyond IE - The rise of inApp browsers</a>
        <div class="meta">
          <a>April 25, 2016</a>
          <a>Mobile Development, Business</a>
        </div>
        <div class="description">
          <strong>Support Internet Explorer.</strong> Dreaded words for most web developers. For a long time there has been an ever present battle <a href="http://www.digitaltrends.com/computing/best-browser-internet-explorer-vs-chrome-vs-firefox-vs-safari-vs-edge/" target="_blank">between the major browsers.</a> Which one is sleeker, more secure, feature rich and most importantly: which one is faster. But in the last few years there are new players in the browsing space, and as mobile usage increases drastically, so do the browsing options. I’m talking about the rise of inApp browsers such as the webview in Twitter and Facebook.
        </div>
        <div class="description">
In the heated competition for users attention (and money), the major players in social media have begun to increase their foothold in the browsing world. By including an inApp browsing experience, they have created an ecosystem that allows users to remain longer in their individual app and still consume the content they want.
        </div>
        <a href="/img/posts/mobile-browsers.png" target="_blank" class="ui segment large image blog-image">
          <img src="/img/posts/mobile-browsers.png" title="Example of inApp and mobile browsers" alt="Example of inApp and mobile browsers">
        </a>
        <br/>
        <div class="description">
Social media is quickly becoming one of the largest ways content is discovered online, and increasingly through users networks. This means the ability to promote (like) and share (link/retweet) is increasingly important to businesses for growth on the internet. Facebook and Twitter plan much of their own business around this ability, and use their inApp browsers to make these features prominent and easier to use. This experience from a visual perspective (shown above) is unchanged across the platforms and almost unnoticeable but there are 2 key differences that should impact the way businesses and website developers think about performance.
        </div>
        <div class="description">
          First, there are some technical differences between a web browser and an inApp webview which are creating content battles between businesses and apps. From a purely technical perspective, under the hood they do use many of the same rendering engines and code engines (so that websites look and feel similar). All mobile browsing (including inApp) lacks some of the caching mechanisms major browsers have (due to limited performance and memory). Caching is the way browsers save some of the code and content that is shared across a website’s different pages (header images, logos, styling code) to make browsing a single site much faster. To combat this, Facebook is developing their <a href="https://instantarticles.fb.com/" target="_blank">‘instant articles’ platform</a>, where publishers can provide Facebook content and Facebook will handle optimized performance and distribution. What this means for businesses is that social media companies are seeking to control more and more content so they themselves can better integrate it into their user experiences. Businesses and companies will need to add this to their content strategy in addition to their traditional mobile site. Expect to see more push and pull like this between inApp browsers and traditional mobile browsers as the landscape for developing performant experiences becomes increasingly complex.
        </div>
        <div class="callout">
Second, the importance of the "share" means every page will be a landing page.
        </div>
        <div class="description">
inApp browsers make sharing one of the most important features. When traditionally a site was designed from the top down, a landing page (perhaps with search) was usually full of links to the sites different areas or articles so that users could browse and explore content. Now as users do this inside the social media apps, they can easily share and link out directly to the content (post or subpage). This means that any page can become the entry point for a site. From a business and site design perspective, this means that the traditional usage funnel has been completely flattened.
        </div>
        <div class="description">
A/B testing, landing pages, homepage optimizations, overview pages, and advertisements must now be redesigned and incorporated into every single of a sites pages. More emphasis must be placed on a simple menu and ease of navigation to ensure access and browsing to similar content within an individual site is readily available without navigating through a link or homepage, because users are less likely to navigate within an app as the url bar is less emphasized and less encouraged. This is increasingly complicated on already cramped mobile pages and sometimes the content is suffering (shortened or moved below the fold) as a result.
        </div>
        <a href="http://www.mobilesynergies.com/mobile-marketing-statistics-2015/" target="_blank" class="ui segment large image blog-image">
          <img src="/img/posts/apptime.jpg" title="Mobile App Usage Statistics" alt="Mobile Site Usage Statistics">
        </a>
        <div class="description">
          As social media becomes one of the most important aspects of exposure online, businesses must keep performance in mind as the structure of sites must adapts to these new experiences.
        </div>
        <hr/>
        <div class="extra">
          <span>Written By Scott Traver</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call To Action -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui center aligned basic segment">
      <p>Is your business benifiting from targeting inApp browsers?</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Project" style="color:white;">Contact Me</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>

