<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Time to Wait</a>
        <div class="meta">
          <a>May 8, 2016</a>
          <a>Mobile Development, Business, WebPerformance</a>
        </div>
        <h2>A thought exercise on web performance</h2>
        <div class="description">
Nobody likes to wait. I have been thinking about this thought exercise for the past few weeks as I challenge myself to optimize my and my clients sites: What does site speed and page weight really feel like?
        </div>
        <div class="description">
          The exercise is to compare site speed to things in everyday life in order to make performance and performance increases more understandable and explainable. Starting with a baseline to compare to (outside of my own clients) the median time to interact for many of the top 100 e-commerce sites is 5.2 seconds. <strong>Perspective</strong> - most players in the NFL can run the 40 yard dash faster than this averaging 4.8 seconds.
        </div>
        <a href="http://m0.joe.ie/wp-content/uploads/2014/02/jadeveon-clowney-40-yard-dash.gif" target="_blank" class="ui segment large image blog-image">
          <img src="http://m0.joe.ie/wp-content/uploads/2014/02/jadeveon-clowney-40-yard-dash.gif" title="40 yard dash gif" alt="40 yard dash gif">
        </a>
        <div class="description">
          That seems fast but the gold standard for most UI development is 3 seconds. This is the time between believing work is being done and lost attention or frustration of nothing seeming to be done. We’ve upgraded from an NFL defensive end to the time it takes a Ferrari 458 to go from 0 to 60 mph. This may seem faster but if you are waiting for something to be done on the internet our expectations are even higher. <strong>Perspective</strong> - if webpages were blank until time to interact, browsing the web might be as painful as watching this timer every time you navigated pages (fortunately they are not!).
        </div>
        <br/>
        <div class="ui grid two column">
          <div class="column">
            <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Ferrari_458_Italia_--_05-18-2011.jpg/1920px-Ferrari_458_Italia_--_05-18-2011.jpg" target="_blank" class="ui segment large image blog-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Ferrari_458_Italia_--_05-18-2011.jpg/1920px-Ferrari_458_Italia_--_05-18-2011.jpg" title="Ferrari 458" alt="Ferrari 458">
            </a>
          </div>
          <div class="column">
            <a href="https://pressuresupport.files.wordpress.com/2012/03/countdown2.gif?w=300" target="_blank" class="ui segment large image blog-image">
              <img src="https://pressuresupport.files.wordpress.com/2012/03/countdown2.gif?w=300" title="3 second countdown" alt="3 second countdown">
            </a>
          </div>
        </div>
        <div class="description">
          So let’s get even faster. Many websites want to be faster than their competitors. Studies show that if you are 20% faster than your competitor you begin to ‘steal’ their competition. To study and work towards this goal Patrick Meenan invented a metric called Speed Index that refers to the visual completeness of a site as it progresses through loading. The average Speed Index (in January 2016) was around 5400 (or the NFL player) But the top 10th percentile was closer to 1300 (the image below)! <strong>Perspective</strong> - this spring two engineers built the rubik cube solving robot that could solve it in just over 1.2 seconds. This robot could solve three rubik cubes before the average webpage loads.
        </div>
        <a href="http://www.techinsider.io/robot-solves-rubiks-cube-in-one-second-2016-1" target="_blank" class="ui segment large image blog-image">
          <img src="https://media.giphy.com/media/l2JHUT72WQoB3jIT6/giphy.gif" title="Rubik's Cube Solver" alt="Rubik's Cube Solver">
        </a>
        <br/>
        <div class="description">
Two questions I asked myself after this thought exercise were “Is the web really that slow for me?” and “What would a performance improvement feel like?”
        </div>
        <h2>Is the web really that slow?</h2>
        <div class="description">
          Yes! Often times we forget that in urban america we are not the norm. Especially as a web developer often in offices with fiber internet connections and high bandwidth rates, I find myself in an extreme when it comes to high performance internet. I recently traveled and worked from coffee shops and on campus guest internet at my university and found myself amazed at the slower speeds (for many reasons including throttling, geolocation, censoring, ad blocking…); it was noticeable. Also during that trip I found myself loading sites on my phone when I normally would browse at home and found the mobile speeds more notably frustrating when I had work to do and was focused. My home internet is around 100Mbs but LTE at my house is around 15Mbs. <strong>Perspective</strong> - this is comparable to the difference between the speed of a baseball thrown by an eight year old verses the top speed of an MLB pitcher's fastball!
        </div>
        <div class="description">
          So what does a performance improvement feel like? It depends. If your website is at the gold standard (3 seconds time to interact) and you make a 1 second improvement your site may still feel slow but would be somewhat noticible (greater than 20 percent difference). For Example: people blink on average 15-20 times per minute so you are still catching people before they can blink. A gain such as this might not be noticeable unless compared directly against competition or side by side with an older version; it is much more visible when you go the other direction though. A 1 second slowdown can wreak havoc on the perception of performance, taking your site from inside the attention window to outside. <strong>Perspective</strong> - I encourage you to play with this difference in the form of frames per second using this tool <a href="https://frames-per-second.appspot.com/" target="_blank">Frames Per Second</a> that allows you to animate things at various speeds.
        </div>
        <div class="description">
          Focusing on perception and performance is critical in the modern web as we move to more mobile infrastructure and higher standards. Simply by the math if a user is on your site an average of 1 minute, visits 5 pages and your page load time gets improved from 4 seconds to 3 seconds, you save your users around 10% of their time but most importantly keep them captivated and flowing through your site instead of looking away or going elsewhere. Math can show you the percentages and impact on conversion but sometimes it takes real world examples to bring awareness to even the most subtle changes that have a large impact on your site’s success.
        </div>
        <a href="http://i.imgur.com/hffKEIn.gif" target="_blank" class="ui segment large image blog-image">
          <img src="http://i.imgur.com/hffKEIn.gif" title="Waffle Drop" alt="Waffle Drop">
        </a>
        <br/>
        <div class="description">
          This post was inspired by other perspective posts on the blog <a href="http://waitbutwhy.com/" target="_blank">Wait but Why?</a>
        </div>
        <hr/>
        <div class="extra">
          <span>Written By Scott Traver</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call To Action -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui center aligned basic segment">
      <p>Do you know if your site has simple performance improvements that can keep it inside the attention window?</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Performance Audit" style="color:white;">Contact Me</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>

