<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Website vs Webapp - A Performance Perspective</a>
        <div class="meta">
          <a>March 25, 2016</a>
          <a>Performance, Architecture</a>
        </div>
        <div class="description">
          There has long been a debate
        </div>
        <a href="http://google.com" class="ui segment large image">
          <img src="/img/profile.jpg">
        </a>
        <div class="description">
          More text here
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Permenant Download -->
<div class="ui vertical stripe segment">
  <div class="ui text container">

    <div class="ui center aligned basic segment">
      <p>Download the full article.</p>
      <div class="ui left icon action input">
        <i class="mail outline icon"></i>
        <input type="text" placeholder="Email">
        <div class="ui blue submit button">Download</div>
      </div>
    </div>
  </div>
</div>
