<h3 class="ui center aligned header">&nbsp;</h3>

<div class="ui container text">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="content">
        <a class="header">Performance is more than speed</a>
        <div class="meta">
          <a>May 23, 2016</a>
          <a>Performance, Philosophy</a>
        </div>
        <div class="description">
          What is performance? Over the past few weeks I have been on-boarding for a new job position where I get paid to think about technology performance at scale. With this has come the joy and responsibility of painting the big picture and making the case for a performance culture within the organization. There is cost, benefit, time, technology debt, management, monitoring and sacrifice all associated with each and every choice about performance. We often focus on the benefits of performance without a thorough understanding of what it really means.
        </div>
        <div class="description">
          To understand what performance means, I have found it most helpful to join the communities and listen to the problems they are trying to solve. On the web performance slack channel, there is an amazing community and resources to learn about the technological side of web performance as well as help moving the science forward; a rising tide lifts all boats. Communities like these are where the passion and expertise hides, such as <a href="https://timkadlec.com/" target="_blank">Tim Kadlec</a> and <a href="https://www.igvita.com/" target="_blank">Illya Gegorik</a>. Their amazing knowledge drives the most important questions about not only the ‘hows’ of web performance but also the ‘whys’.
        </div>
        <br/>
        <h2>Performance is not simply speed</h2>
        <div class="description">
          As demonstrated in this amazing <a href="https://www.igvita.com/2016/05/20/building-fast-and-resilient-web-applications/" target="_blank">Google I/O presentation</a>, performance is a systems problem. As a result of the adaptability of the way the internet was designed, a site or service online is only as performant as it’s weakest link. The calculations Illya walks through are eye opening. For example if you have a 99th percentile for resource loading taking 2 seconds, but your site loads 16 critical resources, there is a 15% chance your site will take over 2 seconds to load! They keyword he tries to amplify here is Critical Resource, which is something every designer/developer/shop can control by limiting feature first development and prioritizing assets properly (especially using new technologies such as HTTP2). Also this is one of the main reasons 3rd party injected services should take notice, as they will be more heavily scrutinized in performance oriented cultures.
        </div>
        <h2>Performance is accessability</h2>
        <div class="description">
          Backwards compatibility is also a concern with web development as many development agencies have extremely high speed internet connections and the latest devices. Often, this is not reflective of the final user! With much of suburban america Not on the latest and greatest network and the adoption of mobile over hardline, we sometimes forget that customers may be anywhere and everywhere. This is especially an interesting problem in the foreign communities that are only now coming online (India/China). A result of this shift but still using the existing network infrastructure (often hard to upgrade/replace) we must now view performance as a feature, and that feature is often accessibility not simply speed! Allowing your site to perform on the lesser devices and edge networks opens you to the largest customer base online and helps keep critical and high priority assets and features at the forefront of your product development process.
        </div>
        <h2>Performance is resilience</h2>
        <div class="description">
          By highlighting performance, you also highlight resilience. Making a website responsive and fast allows you to have the wiggle room for correction if a resource fails to load, you are only falling back to the median load time (although yes, people will notice). Designing applications and sites that respond to changing network conditions is often a user experience problem which keeps the perception of performance high (which is arguably the most important aspect!).
        </div>
        <div class="description">
          Not all of the performance issues for a site or service are easy to solve and not all should be solved before all other bugs or features. To create a performance culture it is best to articulate the advantages of performance beyond the appreciation for user speed.
        </div>
        <hr/>
        <div class="extra">
          <span>Written By Scott Traver</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call To Action -->
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui center aligned basic segment">
      <p>Have a burning question about web performance?</p>
      <div class="ui green labeled icon button">
        <a class="js-email-event" href="mailto:scott@highpeaksolutions.com?Subject=Performance" style="color:white;">Ask Me Anything</a>
        <i class="mail outline icon"></i>
      </div>
    </div>
  </div>
</div>

